# Node modules
node_modules/

# Output des images générées
/output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Environnement local
.env

# Optional: cache de npm
yarn.lock
