body {
    display: flex; 
    font-family: Arial, sans-serif;
    flex-direction: column; /* empile verticalement */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0a0a2a url('background.png') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.box {
      background: white;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 80%;         /* largeur = 80% de l’écran */
      max-width: 600px;
    }

h1 { 
    color: #333;
    font-size: clamp(1.5rem, 3.5vw, 1.8rem);
   }
p { 
    color: #666;
    font-size: clamp(1rem, 3vw, 1.2rem);
  }

.logo {
    width: 30%;              /* prend 30% de la largeur de la boîte parente */
    max-width: 300px;        /* largeur maximale */
    display: block;
    margin: 0 auto 2rem auto;
}











